<table style="margin: auto" class="table table-striped">
    <thead>
        <tr class="h5-bold">
            <th class="col-sm-3">
                <h5 class="text-center">Name</h5>
            </th>
            <th class="col-sm-3">
                <h5 class="text-center">Weight (g)</h5>
            </th>
            <th class="col-sm-3">
                <h5 class="text-center"></h5>
            </th>
            <th class="col-sm-3">
                <h5 class="text-center">Result</h5>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td class="col-sm-3">
                <h5 class="text-center">{{product.name}}</h5>
            </td>
            <td class="col-sm-3">
                <input 
                    name="userInput" 
                    type="text"
                    oninput="validity.valid ? this.save = value : value = (this.save || '')"                 
                    pattern="^(0|[1-9]\d*)(\.\d*)?"
                    class="form-control"
                    [(ngModel)]="product.userInput">
            </td>
            <td class="col-sm-3">
                <button style="margin-left: 10px;" class="btn btn-danger" (click)="removeProduct(i)">Remove                                
                        </button>
            </td>
            <td class="col-sm-3">
                <h5 class="text-center">{{showCountedCalories(i)}}</h5>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td class="col-sm-3"></td>
            <td class="col-sm-3"></td>
            <td class="col-sm-3"></td>
            <td class="col-sm-3">
                <h5 class="text-center" 
                *ngIf="isProductsLenghtHigherThanOne()"><b>Total: </b>{{showCountedCaloriesForAllProducts()}}</h5>
            </td>            
        </tr>
    </tfoot>
</table>