<nav class="navbar navbar-light bg-light">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" href="#collapseFruits" role="button" aria-expanded="false" aria-controls="collapseFruits">Fruits</a>
        </li>
        <div class="collapse" id="collapseFruits">
            <div>
                <ul class="list-group">
                    <app-product-item></app-product-item>
                </ul>
            </div>
        </div>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" href="#collapseVegetables" role="button" aria-expanded="false" aria-controls="collapseVegetables">Vegetables</a>
        </li>
        <div class="collapse" id="collapseVegetables">
            <div>
                <p>TOMATO</p>
                <p>POTATO</p>
            </div>
        </div>
    </ul>
</nav>